{
  "languageserver": {
    "ansible": {
      "command": "ansible-language-server",
      "args": ["--stdio"],
      "filetypes": ["yaml.ansible"],
    }
  },

  "ansible.lint.enabled": true,
  "ansible.lint.path": "ansible-lint",
  "ansible.lint.onSave": true,

  "coc.preferences.diagnostic.refreshOnInsertMode": true
}
